.user-info{
    display: flex;
    margin-top: 12px;
}

.user-info i{
    margin: 0px 8px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50%;
    background-color: #281944;
}
.user-info i:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}